@import '../assets/colors.scss';

// is-color
.is-color-red {
  color: $red !important;
}
.is-color-pink {
  color: $pink !important;
}
.is-color-blue {
  color: $blue !important;
}
.is-color-gray {
  color: $gray !important;
}
.is-color-black {
  color: $black !important;
}
.is-color-white {
  color: $white !important;
}
.is-color-green {
  color: $green !important;
}
.is-color-purple {
  color: $purple !important;
}
.is-color-yellow {
  color: $yellow !important;
}
.is-color-orange {
  color: $orange !important;
}
