@import '../assets/colors.scss';

// is-color
.is-color-red {
  color: $red !important;
  &:hover:not([disabled]) {
    background-color: lighten($red, 40%);
  }
}
.is-color-pink {
  color: $pink !important;
  &:hover:not([disabled]) {
    background-color: lighten($pink, 40%);
  }
}
.is-color-blue {
  color: $blue !important;
  &:hover:not([disabled]) {
    background-color: lighten($blue, 40%);
  }
}
.is-color-gray {
  color: $gray !important;
  &:hover:not([disabled]) {
    background-color: lighten($gray, 25%);
  }
}
.is-color-black {
  color: $black !important;
  &:hover:not([disabled]) {
    background-color: lighten($gray, 25%);
  }
}
.is-color-white {
  color: $white !important;
  &:hover:not([disabled]) {
    background-color: darken($white, 25%);
  }
}
.is-color-green {
  color: $green !important;
  &:hover:not([disabled]) {
    background-color: lighten($green, 40%);
  }
}
.is-color-purple {
  color: $purple !important;
  &:hover:not([disabled]) {
    background-color: lighten($purple, 40%);
  }
}
.is-color-yellow {
  color: $yellow !important;
  &:hover:not([disabled]) {
    background-color: lighten($yellow, 40%);
  }
}
.is-color-orange {
  color: $orange !important;
  &:hover:not([disabled]) {
    background-color: lighten($orange, 40%);
  }
}
